.cards-list{
    display: flex;
    width: 100%;
    justify-content: flex-start;

    // MEDIA
    @media (max-width: $tablet){
       justify-content: space-between
    }

    @media (max-width: $mobile){
        flex-wrap: wrap;
    }
}

.card{
    width: 20%;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    background-color: $primary;
    text-decoration: none;
    color: inherit;
    margin-right: 5%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    transition: background .4s linear;

    &:last-child{
        margin-right: 0;
    }
    &:focus{
        outline: none;
    }

    &:hover{
        background-color: $secondary;
    }

    &__title{
        letter-spacing: 2px;
        text-align: center;
        line-height: 1.2;
        font-size: 20px;
        span{
            font-size: 15px;
            text-transform: uppercase;
            width: 100%;
        }
    }

    // MEDIA
    @media (max-width: $tablet){
        width: 48%;
    }

    @media (max-width: $mobile){
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;

        &:last-child{
            margin-bottom: 0;
        }

        &__title{
            font-size: 18px;
        }
    }
}