.check{
    position: relative;
    font-size: 18px;
    font-weight: 600;

    &__input{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:checked + .check__slider{
            background-color: #5667AC;
        }
        &:focus + .check__slider{
            box-shadow: 0 0 1px #2196F3;
        }
        &:checked + .check__slider::after{
            transform: translateX(20px);
        }
    }

    &__slider{
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 120%;
        width: 50px;
        height: 26px;
        border-radius: 20px;
        background-color: #ccc;

        &::after{
            position: absolute;
            top: 3px;
            content: "";
            width: 20px;
            height: 20px;
            left: 4px;
            border-radius: 50%;
            background-color: white;
            transition: transform .2s linear;
        }
    }
}