.check{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__text{
        margin-right: 10px;
    }

    &__input{
        -webkit-appearance: none;
        appearance: none;

        &:checked + .check__slider{
            background-color: $secondary;
            border-color: $secondary;
        }
        &:focus + .check__slider{
            border-color: $secondary;
        }

        &:checked + .check__slider::after{
            transform: translateX(15px);
        }
    
    }

    &__slider{
        display: block;
        width: 40px;
        height: 25px;
        // background-color: $primary;
        border-radius: 10px;
        border: 2px solid $primary;
        cursor: pointer;
        position: relative;

        transition: border .2s linear,
            background .2s linear;


        &:hover{
            border-color: $secondary;
        }

        &::after{
            display: block;
            content: '';
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #fff;

            position: absolute;
            top: 3px;
            left: 3px;
            transition: transform .3s linear;
        }
    }
}