html, body{
  margin: 0;
}
.app{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #5580FF;
}

.quiz{
  border-radius: 10px;
  /* background-color: #212843; */
  background: linear-gradient(-45deg,#212843, #212574);
  padding: 10px;
  width: 600px;
  height: 300px;
  color: #ddd;
}

.quiz__score{
  font-size: 20px;
  font-weight: 700;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz__score-text{
  margin: 0;
  margin-bottom: 30px;
}

.quiz__score-btns{

}

.quiz__score-btn{
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #5667AC;
  background-color: transparent;
  margin-right: 20px;
  color: #ddd;
  cursor: pointer;
  font-weight: 600;
  transiton: background .2s linear,
    color .2s linear;
}

.quiz__score-btn:last-child{
  margin-right: 0;
}

.quiz__score-btn:hover{
  background-color: #5667AC;
  color: #000;
}

.quiz__inner{
  display: flex;
  flex-direction: column;
}

.quiz__title{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.quiz__content{
  display: flex;
  justify-content: space-between;
}

.quiz__question{
  width: 49%;
}

.quiz__question-count{
  font-size: 15px;
  margin: 0;
}

.quiz__question-count span{
  font-size: 20px;
  font-weight: 600;
}

.quiz__question-text{
  font-size: 20px;
}

.quiz__answer{
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 0; */
}

.quiz__answer-btn{
  font-size: 15px;
  font-weight: 700;
  width: 100%;
  padding: 5px;
  border: 3px solid #5667AC;
  border-radius: 10px;
  background-color: transparent;
  color: #ddd;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background .2s linear, 
    color .2s linear;
}
.quiz__answer-btn:hover{
  background-color: #5667AC;
  color: #000;
}

.quiz__answer-btn:last-child{
  margin-bottom: 0;
}