// reset
@import "vendor/reset";
// fonts
@import "vendor/fonts";
// vars
@import "vars";

*,
*::before,
*::after{
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    height: 100vh;
    background: linear-gradient(to bottom right, #B08AF7, #3d1e77);
    overflow: hidden;
}
.main{
    width: 100%;
}

.container{
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn{
    width: 100%;
    border: 3px solid $primary;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    transition: background .2s linear,
        color .2s linear;

    &:hover{
        background-color: $secondary;
        border-color: $secondary;
        color: #000;
    }
    &:focus{
        outline: none;
    }
    &:last-child{
        margin-bottom: 0;
    }

    &--score{
        width: 15%;
        margin-bottom: 0;
        margin-right: 2%;
        &:last-child{
            margin-right: 0;
        }
    }

}

@import 'components/header';
@import 'components/nav';
@import 'components/main-content';
@import 'components/section';
@import 'components/card';
@import 'components/quiz';
@import 'components/control';
@import 'components/check';
@import 'components/form-answer';
@import 'components/sidebar';
@import 'components/burger';
@import 'components/lang-switch';